version: '3.8'
services:
  app:
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DATABASE_URL=jdbc:postgresql://localhost:5433/postgres
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
  db:
      image: postgres:latest
      environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
        - POSTGRES_DB=postgres
      volumes:
        - postgres_data:/var/lib/postgresql/data/
      ports:
        - "5433:5432"
volumes:
  postgres_data: